@import "../_variables";
@import "../_mixins";

.pets-screen {
  width: 100%;
  display: flex;
  justify-content: center;
  background: $greyBg;
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    width: 100%;
    height: 50px;
    .navbar__logo {
      .title {
        font-size: 32px;
        font-weight: 500;
        line-height: 125%;
        letter-spacing: 1.5px;
        text-decoration: none;
        color: $mainColor;
      }
      .slogan {
        font-family: sans-serif;
        font-size: 13px;
        letter-spacing: 1.2px;
        word-spacing: 1.5px;
        text-decoration: none;
        color: $greyTitle;
      }
    }
    .navbar__menu {
      display: flex;
      width: 40%;
      justify-content: space-around;
      .navbar__item {
        list-style: none;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 15px;
        margin-top: 5px;
        cursor: pointer;
        color: $greyText;
        &.active {
          position: relative;
          color: $greyTitle;
        }
        &.active:after {
          position: absolute;
          width: 100%;
          height: 3px;
          content: "";
          left: 0;
          top: 20px;
          background-color: $mainColor;
        }
      }
    }
  }
  .pets-screen__title {
    @include title;
    margin: 30px 0;
    text-align: center;
  }

  .pets-screen__pagination {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pagination__content {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      flex-wrap: wrap;
    }
    .pagination__controls {
      width: 40%;
      display: flex;
      justify-content: space-around;
      margin: 30px 0;
      .circle-btn {
        font-weight: 700;
        &[disabled] {
          cursor: default;
          color: $greyText;
          border: 2px solid $greyText;
          &:hover {
            background-color: $defaultBtnBg;
            border: 2px solid $greyText;
          }
        }
      }
      .first,
      .last {
        padding: 15px;
      }
      .next,
      .previous,
      .current {
        padding: 15px 21px;
      }
    }
  }
}
