@import "../_variables";
@import "../_mixins";

.pets-screen {
  width: 100%;
  display: flex;
  justify-content: center;
  background: $greyBg;
  .navbar {
    .navbar__logo {
      .slogan {
        color: $darkText;
      }
    }
    .navbar__menu {
      .navbar__item {
        color: $darkText;
        &.active {
          color: $greyText;
        }
      }
    }
  }
  .pets-screen__title {
    @include title;
    margin: 30px 0;
    text-align: center;
  }
  .pets-screen__pagination {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pagination__content {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      flex-wrap: wrap;
      .pet-card {
        width: 22%;
      }
    }
    .pagination__controls {
      width: 40%;
      display: flex;
      justify-content: space-around;
      margin: 30px 0;
      .circle-btn {
        font-weight: 700;
        &[disabled] {
          cursor: default;
          color: $greyText;
          border: 2px solid $greyText;
          &:hover {
            background-color: $defaultBtnBg;
            border: 2px solid $greyText;
          }
        }
      }
      .first,
      .last {
        padding: 15px;
      }
      .next,
      .previous,
      .current {
        padding: 15px 21px;
      }
    }
  }
}

@media (max-width: 769px) {
  .pets-screen {
    .pets-screen__pagination {
      .pagination__content {
        justify-content: space-around;
        .pet-card {
          width: 48%;
          .pet-card__photo {
            justify-self: start;
            img {
              width: 90%;
            }
          }
        }
      }
      .pagination__controls {
        width: 40%;
        display: flex;
        justify-content: space-around;
        margin: 30px 0;
        .circle-btn {
          font-weight: 700;
          &[disabled] {
            cursor: default;
            color: $greyText;
            border: 2px solid $greyText;
            &:hover {
              background-color: $defaultBtnBg;
              border: 2px solid $greyText;
            }
          }
        }
        .first,
        .last {
          padding: 15px;
        }
        .next,
        .previous,
        .current {
          padding: 15px 21px;
        }
      }
    }
  }
}

@media (max-width: 321px) {
  .pets-screen {
    .pets-screen__pagination {
      .pagination__content {
        justify-content: space-around;
        .pet-card {
          width: 100%;
        }
      }
      .pagination__controls {
        width: 40%;
        display: flex;
        justify-content: space-around;
        margin: 30px 0;
        .circle-btn {
          font-weight: 700;
          &[disabled] {
            cursor: default;
            color: $greyText;
            border: 2px solid $greyText;
            &:hover {
              background-color: $defaultBtnBg;
              border: 2px solid $greyText;
            }
          }
        }
        .first,
        .last {
          padding: 15px;
        }
        .next,
        .previous,
        .current {
          padding: 15px 21px;
        }
      }
    }
  }
}