$mainGradient: radial-gradient(circle at top left, #5B483A, #262425 100%);
$lightBg: rgba(255, 255, 255, 1);
$greyBg: #f6f6f6;
$mainColor: rgba(241, 205, 179, 1);
$mainColorActive: rgba(253, 220, 196, 1);
$greyTitle: rgba(84, 84, 84, 1);
$whiteText: rgba(255, 255, 255, 1);
$greyText: rgba(205, 205, 205, 1);
$lightGreyText: rgba(178, 178, 178, 1);
$darkGreyText: rgba(76, 76, 76, 1);
$darkText: rgba(41, 41, 41, 1);
