$mainGradient: radial-gradient(circle at top left, #5B483A, #262425 100%);
$lightBg: rgba(255, 255, 255, 1);
$greyBg: rgba(246, 246, 246, 1);
$mainColor: rgba(241, 205, 179, 1);
$mainColorActive: rgba(253, 220, 196, 1);
$greyTitle: rgba(84, 84, 84, 1);
$whiteText: rgba(255, 255, 255, 1);
$greyText: rgba(205, 205, 205, 1);
$defaultBtnBg: rgba(239, 239, 239, 0.3);
$lightGreyText: rgba(178, 178, 178, 1);
$darkGreyText: rgba(76, 76, 76, 1);
$darkText: rgba(41, 41, 41, 1);
$popupBg: rgba(250, 250, 250, 1);
$cardHeight: 435px;
$burgerBg: rgba(41, 41, 41, 1);
$black: rgba(0, 0, 0, 1);
