@import "_variables";

.about-screen {
  width: 100%;
  display: flex;
  justify-content: center;
  background: $lightBg;
  .about-screen__photo {
    margin: 50px;
    width: 30%;
    img {
      width: 100%;
    }
  }
  .about-screen__content {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
