@import "_variables";
@import "_mixins";

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 80%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-btn {
  @include a-button($mainColor, $mainColor, $mainColorActive);
}

.secondary-btn {
  @include a-button($greyText, $mainColor, $mainColorActive);
}
.circle-btn {
  @include base-button($mainColor, $mainColorActive);
  font-size: 20px;
  padding: 15px 17px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  animation: invoke 0.3s;
  z-index: 100;
  .popup__wrapper {
    position: relative;
    max-width: 70%;
    .circle-btn {
      position: absolute;
      right: -50px;
      top: -50px;
      font-size: 30px;
      font-weight: 800;
      line-height: 18px;
      padding: 10px;
      transform: rotate(45deg);
    }
  }
}

.info-card {
  display: flex;
  overflow: hidden;
  background-color: $popupBg;
  border-radius: 9px;
  padding: 10px;
  
  
  .photo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    img {
      width: 100%;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    padding: 50px 20px 90px 30px;
    .name {
      font-family: Georgia;
      font-size: 35px;
      line-height: 45px;
      letter-spacing: 0.06em;
      text-align: left;
    }
    .type {
      font-family: Georgia;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.06em;
      text-align: left;
      margin-top: 10px;
    }
    .description {
      font-family: Georgia;
      font-size: 15px;
      line-height: 17px;
      letter-spacing: 0.06em;
      text-align: left;
      margin-top: 40px;
    }
    .properties {
      padding-left: 10px;
      li {
        position: relative;
        list-style: none;
        font-family: Georgia;
        font-size: 15px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.06em;
        text-align: left;
        span {
          font-weight: 700;
        }
        &:before {
          position: absolute;
          content: "";
          top: 50%;
          left: -10px;
          transform: translateY(-50%);
          width: 4px;
          height: 4px;
          border-radius: 100%;
          background-color: $mainColor;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .wrapper {
    width: 100%;
  }
}
