@import "_variables";
@import "_mixins";

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 80%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-btn {
  @include a-button($mainColor, $mainColor, $mainColorActive);
}

.secondary-btn {
  @include a-button($greyText, $mainColor, $mainColorActive);
}
.circle-btn {
  @include base-button($mainColor, $mainColorActive);
  font-size: 20px;
  padding: 15px 17px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  animation: invoke 0.3s;
  .popup__wrapper {
    position: relative;
    padding: 50px;
    background-color: $mainColor;
    border-radius: 15px;
    .circle-btn {
      position: absolute;
      right: -50px;
      top: -50px;
    }
  }
}
