@import "_variables";
@import "_mixins";

.contacts-screen {
  width: 100%;
  display: flex;
  justify-content: center;
  background: $mainGradient;
  .contacts-screen__content {
  }
  .contacts-screen__photo {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    img {
      width: 100%;
    }
  }
}
