@import "_variables";

.first-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: $mainGradient;
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    width: 100%;
    height: 50px;
    .navbar__logo {
      .title {
        font-size: 32px;
        font-weight: 500;
        line-height: 125%;
        letter-spacing: 1.5px;
        text-decoration: none;
        color: rgba(241, 205, 179, 1);
      }
      .slogan {
        font-family: sans-serif;
        font-size: 13px;
        letter-spacing: 1.2px;
        word-spacing: 1.5px;
        text-decoration: none;
        color: $whiteText;
      }
    }
    .navbar__menu {
      display: flex;
      width: 40%;
      justify-content: space-around;
      .navbar__item {
        list-style: none;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 15px;
        margin-top: 5px;
        cursor: pointer;
        color: $greyText;
        &.active {
          position: relative;
          color: $whiteText;
        }
        &.active:after {
          position: absolute;
          width: 100%;
          height: 3px;
          content: "";
          left: 0;
          top: 20px;
          background-color: $mainColor;
        }
      }
    }
  }
  .first-screen__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 70px);
    .promo {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      .title {
        font-family: serif;
        font-size: 44px;
        line-height: 57px;
        margin-bottom: 40px;
        color: $whiteText;
      }
      .description {
        font-family: sans-serif;
        font-size: 15px;
        line-height: 24px;
        width: 100%;
        color: $greyText;
        margin-bottom: 40px;
      }
    }
    .main-photo {
      align-self: end;
      width: 40%;
      img {
        width: 100%;
      }
    }
  }
}
