@import "../variables";

.first-screen {
  width: 100%;
  min-height: 908px;
  display: flex;
  justify-content: center;
  background: $mainGradient;
  overflow: hidden;
  .wrapper {
    display: flex;
    padding-bottom: 0;
    .first-screen__content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .promo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        width: 40%;
        .title {
          font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: 44px;
          line-height: 57px;
          margin-bottom: 40px;
          color: $whiteText;
        }
        .description {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 15px;
          line-height: 24px;
          width: 100%;
          color: $greyText;
          margin-bottom: 40px;
        }
      }
      .main-photo {
        width: 60%;
        margin-bottom: -5px;
        align-self: self-end;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .first-screen {
    width: 100%;
    .wrapper {
      display: flex;
      justify-content: center;
      .first-screen__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 100%;
        .promo {
          width: 70%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 150px 0 100px 0;
          .title {
          }
          .description {
            font-family: sans-serif;
            font-size: 15px;
            line-height: 24px;
            width: 100%;
            color: $greyText;
            margin-bottom: 40px;
          }
          .primary-btn {
          margin: auto;
          }
        }
        .main-photo {
          align-self: center;
          width: 70%;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .first-screen {
    width: 100%;
    .wrapper {
      display: flex;
      justify-content: center;
      .first-screen__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 100%;
        .promo {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 150px 0 50px 0;
          .title {
            text-align: center;
            font-size: 25px;
            line-height: 32.5px;
          }
          .description {
            text-align: center;
          }
          .primary-btn {
          margin: auto;
          }
        }
        .main-photo {
          align-self: center;
          width: 100%;
        }
      }
    }
  }
}
