@import "../variables";
@import "../mixins";

.slider-screen {
  width: 100%;
  display: flex;
  justify-content: center;
  background: $greyBg;
  .slider-screen__title {
    @include title;
    text-align: center;
    margin: 70px;
  }
  .slider {
    position: relative;
    display: flex;
    width: 85%;
    justify-content: center;
    margin-bottom: 45px;
    .slider__content {
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: $cardHeight;
      flex-wrap: wrap;
      overflow: hidden;
      z-index: 10;
    }
    .slider__controls {
      position: absolute;
      width: 100%;
      height: 100%;
      .circle-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .circle-btn:nth-child(1) {
        left: -60px;
      }
      .circle-btn:nth-child(2) {
        right: -60px;
      }
    }
  }
  .primary-btn {
    align-self: center;
    margin-bottom: 50px;
  }
}

@media (max-width: 321px) {
  .slider-screen {
    .slider {
      display: block;
      .slider__controls {
        position: static;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        background-color: red;
        opacity: 50%;
        z-index: 200;
        .circle-btn {
          position: absolute;
          top: 0;
          transform: translateY(0%);
        }
        .circle-btn:nth-child(1) {
          left: 0;
        }
        .circle-btn:nth-child(2) {
          right: 0;
        }
      }
    }
  }  
}


